[Unit]
Description=Pterodactyl Queue Worker
After=network.target mariadb.service
Wants=mariadb.service

[Service]
User=@WEBUSER@
Group=@WEBUSER@
Restart=always
ExecStart=/usr/bin/php @PANEL_DIR@/artisan queue:work --queue=high,standard,low --sleep=3 --tries=3
StartLimitInterval=180
StartLimitBurst=30
RestartSec=5s

[Install]
WantedBy=multi-user.target
